@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #470084;
    border-radius: 4px;
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #dbaf19;
}

/* Pour Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #470084 #212121;
}
